.infinite-list-container {
    height: 82vh;
    overflow: hidden;
}

.infinite-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}